DISCORD_TOKEN=
CLIENT_ID=
DATABASE_PATH=./data/nararya.db
SCRAPER_INTERVAL_SECONDS=120
SCRAPER_USER_AGENT=NararyaBotDiscord/1.0


# Media
YTDLP_PATH=yt-dlp
FFMPEG_PATH=
PYTHON_BIN=python
MEDIA_DATA_DIR=./data/media
MEDIA_MAX_DOWNLOAD_MB=200
MEDIA_MAX_UPLOAD_MB=8
MEDIA_HTTP_TIMEOUT_MS=30000
DEMUCS_MODEL=htdemucs
